{% extends "../../templates/component.njk" %}
{% set hasJS = true %}


{% block meta %}
  <title>Pod - {{ componentName | replace("-", " ") | capitalize }}</title>
  <meta name="description" content="Accessible button markup and CSS">
{% endblock %}



{% block componentDescription %}
  <p>Lists ... </p>
{% endblock %}


 

