<!doctype html>
  <html lang="en" dir="ltr">
   <!--
    ##:::: ##: ####: ########::  ########::::  ###. ###:: ########::::
    ##:::: ##:. ##:: ##.... ##:. ##.....::::: ##: ##: ##: ##.....:::::
    ##:::: ##:: ##:: ##:::: ##:: ##:::::::::: ##: ##: ##: ##::::::::::
    #########:: ##:: ########::: ######:::::: ##: ##: ##: ######::::::
    ##.... ##:: ##:: ##.. ##:::: ##...::::::: ##: ##: ##: ##...:::::::
    ##:::: ##:: ##:: ##::. ##::: ##:::::::::: ##: ##: ##: ##::::::::::
    ##:::: ##: ####: ##:::. ##:  ########:::: ##::::: ##: ########::::
    For Freelance or Open Source projects contact info@cathydutton.co.uk
    http://www.cathydutton.co.uk
    -->
    <head>
      <meta charset="UTF-8">
      <!-- Instruct Internet Explorer to use its latest rendering engine -->
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% block meta %}   
      {% endblock %}
      <meta name="keywords" content="Component styleguide, UX, CSS, PostCSS, JavaScript, A11y">
      <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
      <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
      <!-- Helps prevent duplicate content issues -->
      {# <link rel="canonical" href="http://example.com/2017/09/a-new-article-to-red.html"> #}
      <meta name="author" content="Cathy Dutton - www.cathydutton.co.uk" />
      <!-- Twitter card -->
      <meta name="twitter:card" content="summary"/>
      <meta name="twitter:description" content="Component styleguide, UX, CSS, PostCSS, JavaScript, A11y"/>
      <meta name="twitter:title" content="Cathy_Dutton"/>
      <meta name="twitter:site" content="@cathy_dutton"/>
      <meta name="twitter:image" content="/img/profile-image.jpg"/>
      {# <link rel="stylesheet" href="https://rawgit.com/ffoodd/a11y.css/master/css/a11y-en.css"> #}
      <link rel="stylesheet" href="/css/pod.css">
    </head>
  <body>
  <div id="js-wrapper" class="wrapper sidebar-closed">
    <div class="content-wrapper">
      <a href="#main">skip to main content</a>
      <button id="js-sidebar__button" class="sidebar__button">Open menu</button>
      {% block header %}
        <header role="banner" class="header">
          {% include "components/a11y-buttons/a11y-buttons.njk" %}
          <h1 class="company-name">Header One</h1>
        </header>
      {% endblock %}
      {# Sidebar #}
      <aside id="js-sidebar" class="sidebar" tabindex="0" hidden='true' aria-hidden>
        <ul  id="js-navigation__list" class="navigation__list">
          <li class="navigation__item">
            <a href="/" title="Go to the home page" class="navigation__anchor {% if page_id == 'home' %}active  {% endif %}">
              <span class="navigation__anchor__text">Home</span>
            </a>
          </li>
          <li class="navigation__item">
            <a href="/component-list" title="View the components page" class="navigation__anchor {% if page_id == 'component-list' %}active  {% endif %}">
              <span class="navigation__anchor__text">Components</span>
            </a>
          </li>
          <li class="navigation__item">
            <a href="/about" title="View the bout Pod page" class="navigation__anchor {% if page_id == 'about' %}active  {% endif %}">
              <span class="navigation__anchor__text">About Pod</span>
            </a>
          </li>
        </ul>
      </aside>


