{% extends "../../templates/component.njk" %}
{% set hasJS = false %}


{% block meta %}
  <title>Pod - {{ componentName | replace("-", " ") | capitalize }}</title>
  <meta name="description" content="Accessible button markup and CSS">
{% endblock %}


{% block pageHeading %}
  <h1>{{ componentName | replace("-", " ") | capitalize }}</h1>
  <p>A ???? is... </p>
{% endblock %}

 

