{% extends "./templates/layout.njk" %}
{% set page_id = "about" %} 

{% block meta %}
  <title>About Pod</title>
  <meta name="description" content="Component styleguide built with PostCSS and JavaScript">
{% endblock %}

{% block pageHeading %}
  <h1>About Pod</h1>
  <p>---------</p>
{% endblock %}  

<section>
  {% block content %}
    <p>Acesibility tests</p>
    <p>CSS tests</p>
    <p>Coloiur check link</p>
  {% endblock %}
</section>

Set up 

1) npm install
2) run gulp in terminal

Add other things like tasks in gulp etc to get set up
