{% extends "./templates/layout.njk" %}
{% set page_id = "about" %} 

{% block meta %}
  <title>About Pod</title>
  <meta name="description" content="Component styleguide built with PostCSS and JavaScript">
{% endblock %}

{% block pageHeading %}
  <h1>About Pod</h1>
  <p>Description of page</p>
{% endblock %}  


{% block content %}




{% endblock %}


