{% extends "./templates/layout.njk" %}
{% set page_id = "component-list" %} 

{% block meta %}
  <title>Pod - Component styleguide</title>
  <meta name="description" content="Component styleguide built with PostCSS and JavaScript">
{% endblock %}


{% block content %}
  <h1>
    Components 
  </h1>

<ul class="unordered-list"> 
  {% for name in componentList %}
     <li class="unordered-list__list-item"><a href="/components/{{ name.name }}">{{ name.name | replace("-", " ") | capitalize }}</a></li>
  {% endfor %}
</ul>

{% endblock %}


