{% extends "./templates/layout.njk" %}
{% set page_id = "component-list" %} 

{% block meta %}
  <title>Pod - Component list</title>
  <meta name="description" content="Component styleguide built with PostCSS and JavaScript">
{% endblock %}


{% block pageHeading %}
  <h1>Components</h1>
  <p>List of components</p>
{% endblock %}


{% block content %}
  <p>dqkldkelqw</p>
  <ul class="unordered-list"> 
    {% for name in componentList %}
      <li class="unordered-list__list-item"><a href="/components/{{ name.name }}" class="anchor">{{ name.name | replace("-", " ") | capitalize }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}


