{% extends "./templates/layout.njk" %}
{% set page_id = "home" %} 

{% block meta %}
  <title>Pod - Component styleguide</title>
  <meta name="description" content="Component styleguide built with PostCSS and JavaScript">
{% endblock %}

<section>
{% block content %}
  <h1>
    Pod 
  </h1>

<ul> 
  {% for name in componentList %}
     <li><a href="/components/{{ name.name }}">{{ name.name | replace("-", " ") | capitalize }}</a></li>
  {% endfor %}
</ul>
</section>
{% endblock %}


