{% extends "./templates/layout.njk" %}
{% set page_id = "home" %} 

{% block meta %}
  <title>Pod - Component styleguide</title>
  <meta name="description" content="Component styleguide built with PostCSS and JavaScript">
{% endblock %}

{% block pageHeading %}
  <h1>Pod</h1>
  <p>A component library built with HTML, CSS, and JavaScript.</p>
{% endblock %} 

<section>
  {% block content %}
    <p>Why - EWhy not? Its important to have a place to try things out, experinent and learn about enhancements you prehaps cant use yet at work.</p>
    <p>How link to about page. Vanilla (HA HA, spot the subtle reference in the name) Not because frameworks are bad but because thisway anyone can use it. </p>
    <p>Coloiur check link</p>
  {% endblock %}
</section>

