{% extends "./layout.njk" %}
{% set page_id = "component-list" %} 

{% set componentName = componentPath %}

{% set componentHtml %}
  {% include "components/" + componentName + "/" + componentName + ".njk" %}
{% endset %}

{% set componentCSS %}
  {% include "components/" +  componentName + "/" + componentName +".css" %}
{% endset %}

{% set componentJS %}
  {% include "components/" +  componentName + "/" + componentName + ".js"  ignore missing %}
{% endset %}

{% block content %}



  {# Link to can I use  #}
  {# <aside class="support">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M20.016 8.016v-4.031h-4.031v4.031h4.031zM20.016 14.016v-4.031h-4.031v4.031h4.031zM20.016 20.016v-4.031h-4.031v4.031h4.031zM14.016 8.016v-4.031h-4.031v4.031h4.031zM14.016 14.016v-4.031h-4.031v4.031h4.031zM14.016 20.016v-4.031h-4.031v4.031h4.031zM8.016 8.016v-4.031h-4.031v4.031h4.031zM8.016 14.016v-4.031h-4.031v4.031h4.031zM8.016 20.016v-4.031h-4.031v4.031h4.031zM20.016 2.016c1.078 0 1.969 0.891 1.969 1.969v16.031c0 1.078-0.891 1.969-1.969 1.969h-16.031c-1.078 0-1.969-0.891-1.969-1.969v-16.031c0-1.078 0.891-1.969 1.969-1.969h16.031z"></path>
    </svg>
    <a class="unsupported" href="https://caniuse.com/#feat=css-grid">This browser does not support CSS Grid Layout.</a>
    <a class="supported" href="https://caniuse.com/#feat=css-grid">This browser supports CSS Grid Layout.</a>
  </aside> #}

  {% block componentDescription %}
  {% endblock %}

  <section>
    <h2>Demo</h2>
    {% include "components/" + componentName + "/" + componentName + ".njk" %}
  </section>
  <section>
    <h2>Markup</h2>
    <p>Use the tabbend navagation to view the component markup.</p>
  </section>

  <span class="visually-hidden">Use left and right arrows to navigate between tabs.</span>
  <div class="js-tab-widget">
    <ul class="tab-list">
      <li class="tab-item">
        <a class="tab-link" href="#tab-1">HTML</a>
      </li>
      <li class="tab-item">
        <a class="tab-link" href="#tab-2">CSS</a>
      </li>
      {% if hasJS %}
        <li class="tab-item">
          <a class="tab-link" href="#tab-3">JavaScript</a>
        </li>
      {% endif %}
    </ul>
    <div id="tab-1" class="tab-panel">
      <h3 class="visually-hidden">HTML</h3>
      <pre><code>{{- componentHtml | e -}}</code></pre>
    </div>
    <div id="tab-2" class="tab-panel">
      <h3 class="visually-hidden">CSS</h3>
      <pre><code>{{- componentCSS | e -}}</code></pre>
    </div>
    {% if hasJS %}
      <div id="tab-3" class="tab-panel">
        <h3 class="visually-hidden">JavaScript</h3>
        <pre><code>{{- componentJS | e -}}</code></pre>
      </div>
    {% endif %}
  </div>








{% endblock %}
