{% extends "./layout.njk" %}

{% set componentName = componentPath %}

{% set componentHtml %}
  {% include "components/" + componentName + "/" + componentName + ".njk" %}
{% endset %}

{% set componentCSS %}
  {% include "components/" +  componentName + "/" + componentName +".css" %}
{% endset %}

{% set componentJS %}
  {% include "components/" +  componentName + "/" + componentName + ".js"  ignore missing %}
{% endset %}

{% block content %}



  {# Link to can I use  #}
  {# <aside class="support">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M20.016 8.016v-4.031h-4.031v4.031h4.031zM20.016 14.016v-4.031h-4.031v4.031h4.031zM20.016 20.016v-4.031h-4.031v4.031h4.031zM14.016 8.016v-4.031h-4.031v4.031h4.031zM14.016 14.016v-4.031h-4.031v4.031h4.031zM14.016 20.016v-4.031h-4.031v4.031h4.031zM8.016 8.016v-4.031h-4.031v4.031h4.031zM8.016 14.016v-4.031h-4.031v4.031h4.031zM8.016 20.016v-4.031h-4.031v4.031h4.031zM20.016 2.016c1.078 0 1.969 0.891 1.969 1.969v16.031c0 1.078-0.891 1.969-1.969 1.969h-16.031c-1.078 0-1.969-0.891-1.969-1.969v-16.031c0-1.078 0.891-1.969 1.969-1.969h16.031z"></path>
    </svg>
    <a class="unsupported" href="https://caniuse.com/#feat=css-grid">This browser does not support CSS Grid Layout.</a>
    <a class="supported" href="https://caniuse.com/#feat=css-grid">This browser supports CSS Grid Layout.</a>
  </aside> #}

  {% block componentDescription %}
  {% endblock %}

  <h2>Demo</h2>
  {% include "components/" + componentName + "/" + componentName + ".njk" %}

  <h2>Code</h2>
 <p class="visuallyhidden">Use left and right arrows to navigate between tabs.</p>

  <h3>Markup</h3>
 
  <pre><code>{{- componentHtml | e -}}</code></pre>

  <h3>CSS</h3>
  <pre><code>{{- componentCSS | e -}}</code></pre>

  {% if hasJS %}
    <h3>JavaScript</h3>
    <pre><code>{{- componentJS | e -}}</code></pre>
  {% endif %}

{% endblock %}
