{% include "includes/head.njk" %}

<main id="main-content" class="content" role="main">
{% include "components/a11y-buttons/a11y-buttons.njk" %}
  {% block content %}
  {% endblock %}
</main>

{% include "includes/footer.njk" %}
