<!doctype html>
  <html lang="en" dir="ltr">
    <!--

    #########:: #########:: ##.... ##:::: ##.... ##:. ####::::
    ##.....:::: ##.... ##:. ##.... ##:.:: ##.... ##:.  ##:::::
    ##.....:::: ##:::: ##:: ##:::: ##:::: ##.... ##:.  ##:::::
    #########:: #########:: #########:::: #########::  ##:::::
    ::.... ##:: ##.... ##:: :::::: ##:::: ##.... ##::  ##:::::
    :::::: ##:: ##.... ##:: :::::: ##:::: ##.... ##::  ##:::::
    #########:: ##.... ##:: :::::: ##:::: ##.... ##:: ####::::

    Email: info@cathydutton.co.uk
    Twitter: cathy_dutton
    website: cathydutton.co.uk
    
    -->

    <head>
      <meta charset="UTF-8">
      <!-- Instruct Internet Explorer to use its latest rendering engine -->
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% block meta %}
      {% endblock %}
      <meta name="keywords" content="Component styleguide, UX, CSS, PostCSS, JavaScript, A11y">
      <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
      <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
      <!-- Helps prevent duplicate content issues -->
      {# <link rel="canonical" href="http://example.com/2017/09/a-new-article-to-red.html"> #}
      <meta name="author" content="Cathy Dutton - www.cathydutton.co.uk" />
      <!-- Twitter card -->
      <meta name="twitter:card" content="summary"/>
      <meta name="twitter:description" content="Component styleguide, UX, CSS, PostCSS, JavaScript, A11y"/>
      <meta name="twitter:title" content="Cathy_Dutton"/>
      <meta name="twitter:site" content="@cathy_dutton"/>
      <meta name="twitter:image" content="/img/profile-image.jpg"/>
      {# A11y CSS #}
      {# <link rel="stylesheet" href="https://rawgit.com/ffoodd/a11y.css/master/css/a11y-en.css"> #}
      <link rel="stylesheet" href="/css/pod.css">
    </head>
    <body>
      <a href="#main-content">Skip to main content</a>
      <div class="wrapper">

        {% include "includes/sidebar.njk" %}

        <div class="content">
        
          {% block header %}
            <header role="banner" class="header">
              <div class="page-headings">
                {% block pageHeading %}
                {% endblock %} 
              </div>
              {% include "components/a11y-buttons/a11y-buttons.njk" %}
            </header>
          {% endblock %}



          <main id="main-content" class="content" role="main">
            {% block content %}
            {% endblock %}
          </main>

          {% include "includes/footer.njk" %}

        </div>

      </div>
    <script src="/js/pod.js"></script>
    {# Copy code button JS #}
    <script>
      var clipboard = new ClipboardJS('.button--copy');
      clipboard.on('success', function(e) {
          console.log(e);
      });
      clipboard.on('error', function(e) {
          console.log(e);
      });
    </script>
    {# Cookie banner JS #}
    <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({})});
    </script>

  </body>
</html>




