/*
  A11y buttons
  ----------------------------------- */

.accessibility-tools fieldset {
  margin-bottom: 1em;
  padding: .4em;
}

.accessibility-tools legend {
  padding: .4em;
}

.button--ally {
  background: var(--colour-medium);
  font-size: .65em;
}
