/*
  A11y buttons
  ----------------------------------- */

.accessibility-tools {
  float: right;
}

.accessibility-tools__text-size {
  
}

.accessibility-tools__colour-theme {
  
}

.accessibility-tools__font-family {
  
}

.button--ally {
  background: var(--colour-light);
  background: var(--colour-medium);
}


