
{# <div class="js-tabs-demo tabs">
  <ul class="tab-list">
    <li class="tab-item" data-tab-active>
      <a class="tab-link" href="#tab-1" data-tab-active aria-selected="true">Tab 1</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-2">Tab 2</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-3">Tab 3</a>
    </li>
  </ul>
  <div id="tab-1" class="tab-panel">
    <h3>Tab one</h3>
  </div>
  <div id="tab-2" class="tab-panel">
    <h3>Tab two</h3>
  </div>
  <div id="tab-3" class="tab-panel">
    <h3>Tab three</h3>
  </div>
</div> #}

<div class="js-tabs-demo tabs">
  <ul class="tab-list">
    <li class="tab-item" data-tab-active>
      <a class="tab-link" href="#tab-1" data-tab-active aria-selected="true">Tab 1</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-2">Long tab title</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-3">Tab 3</a>
    </li>
  </ul>
  <div id="tab-1" class="tab-panel">
    <h3>Tab one</h3>
  </div>
  <div id="tab-2" class="tab-panel">
    <h3>Tab two</h3>
  </div>
  <div id="tab-3" class="tab-panel">
    <h3>Tab three</h3>
  </div>
</div> 


<div class="js-tabs-demo--five tabs">
  <ul class="tab-list">
    <li class="tab-item" data-tab-active>
      <a class="tab-link" href="#tab-1" data-tab-active aria-selected="true">Tab 1</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-2">Tab 2</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-3">Tab 3</a>
    </li>
        <li class="tab-item">
      <a class="tab-link" href="#tab-4">Tab 4</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-5">Tab 5</a>
    </li>
  </ul>
  <div id="tab-1" class="tab-panel">
    <h3>Tab one</h3>
  </div>
  <div id="tab-2" class="tab-panel">
    <h3>Tab two</h3>
  </div>
  <div id="tab-3" class="tab-panel">
    <h3>Tab three</h3>
  </div>
    <div id="tab-4" class="tab-panel">
    <h3>Tab four</h3>
  </div>
    <div id="tab-5" class="tab-panel">
    <h3>Tab five</h3>
  </div>
</div>