<div class="js-tabs-demo tabs">
  <ul class="tab-list">
    <li class="tab-item" data-tab-active>
      <a class="tab-link" href="#tab-1" data-tab-active aria-selected="true">HTML</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-2">CSS</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-3">JavaScript</a>
    </li>
  </ul>
  <div id="tab-1" class="tab-panel">
    <h3>Tab one</h3>
  </div>
  <div id="tab-2" class="tab-panel">
    <h3>Tab two</h3>
  </div>
  <div id="tab-3" class="tab-panel">
    <h3>Tab three</h3>
  </div>
</div>


<div class="js-tabs-demo tabs">
  <ul class="tab-list">
    <li class="tab-item" data-tab-active>
      <a class="tab-link" href="#tab-1" data-tab-active aria-selected="true">HTML</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-2">Really long tab title example</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-3">JavaScript</a>
    </li>
  </ul>
  <div id="tab-1" class="tab-panel">
    <h3>Tab one</h3>
  </div>
  <div id="tab-2" class="tab-panel">
    <h3>Tab two</h3>
  </div>
  <div id="tab-3" class="tab-panel">
    <h3>Tab three</h3>
  </div>
</div>

<div class="js-tabs-demo tabs">
  <ul class="tab-list">
    <li class="tab-item" data-tab-active>
      <a class="tab-link" href="#tab-1" data-tab-active aria-selected="true">HTML</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-2">CSS</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-3">JavaScript</a>
    </li>
        <li class="tab-item">
      <a class="tab-link" href="#tab-4">JavaScript</a>
    </li>
    <li class="tab-item">
      <a class="tab-link" href="#tab-5">JavaScript</a>
    </li>
  </ul>
  <div id="tab-1" class="tab-panel">
    <h3>Tab one</h3>
  </div>
  <div id="tab-2" class="tab-panel">
    <h3>Tab two</h3>
  </div>
  <div id="tab-3" class="tab-panel">
    <h3>Tab three</h3>
  </div>
    <div id="tab-4" class="tab-panel">
    <h3>Tab four</h3>
  </div>
    <div id="tab-5" class="tab-panel">
    <h3>Tab five</h3>
  </div>
</div>