{% extends "../../templates/component.njk" %}

{% block meta %}
  <title>Pod - {{ componentName | replace("-", " ") | capitalize }}</title>
  <meta name="description" content="----">
{% endblock %}



{% block componentDescription %}
  <p>A ??? is... </p>
{% endblock %}


 

