/*
  Toggle
  ----------------------------------- */

.toggle { 
  border: 0;
  background: var(--colour-dark);
  color: var(--colour-bright);
  text-transform: uppercase;
  border-radius: 0 5px 5px 0;
  border: solid 4px var(--colour-bright);
  border-left: 0;
  transition: all 0.3s ease-in-out;
} 

.toggle:hover { 
  border-radius: 0 10px 10px 0;
}