<p>To view the skip link component tab to this example, or click inside this example and press tab.</p>
<p><a href="#main-content" id="skip-navigation">skip to main content</a></p>

<main id="main-content tabindex="-1"">
<h1>Main content</h1>
</main>
