/*
  Settings
  CSS variables for fonts, colors, etc.
  ----------------------------------- */

/* Colors */

:root {
  --colour-black: #121212;
  --colour-dark: #001F3F;
  --colour-medium: #046B99;
  --colour-light: #B3EFFF;
  --colour-white: #FFFFFF;
  --colour-bright: #FBDB1D;
}

.theme-dark {
  --colour-black: #FFFFFF;
  --colour-dark: #FBFF7C;
  --colour-medium: #FFCA2D;
  --colour-light: #434444;
  --colour-white: #001F3F;
  --colour-bright: #9D2064;
}

.theme-monochrome {
  --colour-black: #211505;
  --colour-dark: #3c240d;
  --colour-medium: #553C1C;
  --colour-light: #FDE5BA;
  --colour-white: #FDF1D8;
  --colour-bright: #EFA60B;
}

/* Fonts */

:root {
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dyslexic {
  --font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* Text */

:root {
--font-size: 1.188em;
}


/* Media queries */
/* :root {
  --break-large: 1280px;
  --break-medium: 768px;
  --break-small: 480px;
  }
  */

