/*
  Settings
  CSS variables for fonts, colors, etc.
  ----------------------------------- */

/* Colors */

:root {
  --colour-black: #121212;
  --colour-dark: #2a2a2a;
  --colour-medium: #444343;
  --colour-light: #DFDCDC;
  --colour-white: #FFFFFF;
  --colour-bright: #ffa600;
  --colour-error: #A91919; 
}

.theme-dark {
  --colour-black: #FFFFFF;
  --colour-dark: #AAAAAA;
  --colour-medium: #2ECC40;
  --colour-light: #048386; 
  --colour-white: #111111;
  --colour-bright: #FFDC00; 
  --colour-error: #FF851B;
}

.theme-monochrome {
  --colour-black: #BD9562;
  --colour-dark: #AB773F;
  --colour-medium: #553C1C;
  --colour-light: #3c240d;
  --colour-white: #211505;
  --colour-bright: #AF8857;
  --colour-error: #A37A48; 
}

/* Fonts */

:root {
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dyslexic {
  --font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* Text */

:root {
--font-size: 1.188em;
}





