/*
  Elements
  styling for bare HTML elements (like H1, A, etc.). 
  These come with default styling from the browser so we can redefine them here.
  ----------------------------------- */
  
  html {
    font-size: var(--font-size);
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    color: var(--colour-black);
    background: var(--colour-white);
    font-family: var(--font-family);
  }

  header,
  main,
  footer {
    padding: .6em;
    animation: fadeIn 2s forwards;
  }
  
  footer {
    text-align: center;
  }

  section {
    margin-bottom: .8em;
  }

  blockquote {
    margin: 0;
    padding: 15px;
    border: 1px solid var(--colour-meduim);
    background: var(--colour-light);
  }
 
  pre code {
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word; 
  }

  /* Select */
  ::selection {
    background: var(--colour-bright);
  }


  
  








