/*
  Grid
  CSS grid classes and fallbacks
  ----------------------------------- */


  .wrapper {
    display: grid;
    grid-template-areas: 
    "aside header"
    "aside main"
    "aside footer";
    grid-template-columns: 280px minmax(200px, 1200px);
    grid-gap: 1em;
  }

  aside {
    grid-area: aside;
    background: var(--colour-dark);
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }


  @media only screen and (min-width: 768px) {
    
    .wrapper {
      grid-template-areas: 
      "aside aside"
      "header header"
      "main main"
      "footer footer";
    }

  }
