/*
  Anchor tags
  ----------------------------------- */

  .anchor {
    background: linear-gradient(90deg, currentColor 66%, transparent 0) repeat-x;
	  background-size: .3em 2px;
	  background-position: 0 1em;
    color: inherit;
    text-decoration: none;
  }

  .anchor:hover {

  }

  .anchor:active {

  }

  .anchor:focus {

  }


  .anchor:visited {
    color:hotpink;
  }

  /* .anchor:visited:after {
    content 'SEEN';
    color:hotpink;
  } */


  


  
