{% extends "../../templates/component.njk" %}

{% block meta %}
  <title>Pod - {{ componentName | replace("-", " ") | capitalize }}</title>
  <meta name="description" content="Accessible button markup and CSS">
{% endblock %}


{% block componentDescription %}
  <p>A anchor is... </p>
{% endblock %}

