
<h3>Unordered Lists</h3>
<p>Frontend development languages:</p>
<ul class="unordered-list">
  <li class="unordered-list__list-item">CSS</li>
  <li class="unordered-list__list-item">HTML</li>
  <li class="unordered-list__list-item">JavaScript</li>
</ul>

<h3>Ordered Lists</h3>
<p>Highway code:</p>
<ol class="ordered-list">
  <li class="ordered-list__list-item">Stop</li>
  <li class="ordered-list__list-item">Look</li>
  <li class="ordered-list__list-item">Listen</li>
 </ol>







