/*
  Navigation
  ----------------------------------- */

.navigation__list {
  margin: .4em;
  width: 100%;
  max-width: 280px;
  margin: .4em 0 0;
  padding: 0 2em 1.4em;
  display: block;
}
  
.navigation__item {
  margin: .4em;
  display: block;
  margin: 0; 
  background: var(--colour-dark);
}
  
.navigation__anchor {
  color: var(--colour-white);
  display: block;
  margin-bottom: .6em;
  padding: .4em 0 .4em .4em;
  border:  solid 1px var(--colour-medium);
  border-left: solid 4px var(--colour-bright);
  text-decoration: none;
  word-wrap: break-word;
}
  
.navigation__anchor:hover,
.navigation__anchor:focus {
  background-color: var(--colour-light);
  color:  var(--colour-dark);
  text-decoration: underline;
}

.navigation__anchor.active {
  background: var(--colour-bright);
  color:  var(--colour-dark);
  border-left: solid 4px var(--colour-light);
}
    
.navigation__anchor.active .navigation__anchor__text {
  border-bottom: solid 1px  var(--colour-dark);
}

.navigation__anchor.active:hover {
  text-decoration: none;
  cursor: not-allowed;
}

@media only screen and (max-width: 768px) {

  .navigation__list {
    text-align: center;
    max-width: 100%;
  }
  
  .navigation__item {
    display: inline-block;
    margin: 0 .2em;
  }

  .navigation__anchor {
    border:  0;
    border-bottom: solid 1px var(--colour-white);
  }

  .navigation__anchor.active {
    color: var(--colour-white);
    background: none;
    border:  0;
    border-bottom: solid 4px var(--colour-bright);
  }

}
