<ul class="navigation__list">
  <li class="navigation__item">
    <a href="#" aria-describedby="current" title="Go home" class="navigation__anchor">
      <span class="navigation__anchor__text">Home</span>
    </a>
  </li>
  <li class="navigation__item">
    <a href="#" title="View portfolio page" class="navigation__anchor active">
      <span class="navigation__anchor__text">Portfolio</span>
    </a>
  </li>
  <li class="navigation__item">
    <a href="#" title="View work history page" class="navigation__anchor">
      <span class="navigation__anchor__text">Work history</span>
    </a>
  </li>
  <li class="navigation__item">
    <a href="#" title="View blog page" class="navigation__anchor">
      <span class="navigation__anchor__text">Blog</span>
    </a>
  </li>
  <li class="navigation__item">
    <a href="#" title="Maze - PostCSS responsive grid" class="navigation__anchor">
      <span class="navigation__anchor__text">PostCSS Maze</span>
    </a>
  </li>
</ul>