/*
  Sub navigation
  ----------------------------------- */

.sub-navigation__item {
  display: inline-block;
  margin: 1em .4em;
}
  
.sub-navigation__anchor {
  color: var(--colour-dark);
  hyphens: auto;
}

.sub-navigation__anchor.active {
  border-bottom: 5px solid var(--colour-bright);
}

.sub-navigation__anchor.visited {

}

.sub-navigation__anchor:hover,
.sub-navigation__anchor:focus  {
  border-bottom: 5px solid var(--colour-bright);
}
    

