<button class="button-primary" type="button" value="Button">Button</button>
<button class="button-secondary" type="button" value="Button">Button</button>
<button class="button-primary" type="submit" value="Submit">Submit</button>
<button class="button-primary" type="reset" value="Reset">Reset</button>
<button class="button-primary" type="button" value="Button" disabled>Disabled</button>


<button class="button button-primary">Button</button>
<button class="button button-secondary">Button</button>
<button class="button button-disabled">Button</button>