<h1>Header one</h1>
<h2>Header two</h2>
<h3>Header three</h3>
<h4>Header four</h4>
<h5>Header five</h5>
<h6>Header six</h6>

<p>Paragraph</p>


<blockquote cite="cathydutton.co.uk">
My quote
</blockquote>

<p>WWF's goal is to: <q>Build a future where people live in harmony with nature.</q></p>

<b>This text is bold</b>

<strong>This text is strong</strong>

<i>This text is italic</i>

<em>This text is emphasized</em>

<h2>HTML <small>Small</small> Formatting</h2>

<h2>HTML <mark>Marked</mark> Formatting</h2>

<h2>HTML <mark>Marked</mark> Formatting</h2>

<p>My favorite <ins>color</ins> is red.</p>

<p>This is <sub>subscripted</sub> text.</p>

<p>This is <sup>superscripted</sup> text.</p>